<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 ">
               <div class="m-5">
                <h1>Explore our Programs</h1>
                <h3>Advance into the fields of Data Science, Technology and
                     Management and stay ahead in your career 
                     by exploring our recommended programs.</h3>
               </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3  p-3">
                            <ul class="list-group ">
                               
                                <li class="list-group-item bg-dark  " >
                                   
                                    <a href="#" class="text-white" > 
                                      Popular Courses 
                                    </a>
                                    
                                </li>
                                <li class="list-group-item " >
                                   
                                    <a href="#"> 
                                        cloud computing 
                                    </a>
                                </li>
                                <li class="list-group-item " >
                                   
                                    <a href="#"> 
                                        
                                      Red hate 
                                    </a>
                                </li>
                                <li class="list-group-item ">
                                   
                                    <a href="#"> 
                                      Microsoft 
                                    </a>
                                </li>
                                <li class="list-group-item ">
                                   
                                    <a href="#"> 
                                      DevOps 
                                      
                                    </a>
                                  
                                </li>
                                <li class="list-group-item ">
                                   
                                    <a href="#"> 
                                      Cisco 
                                    </a>
                                </li>
                                <li class="list-group-item ">
                                 
                                    <a href="#">
                                      Popular Courses 
                                    </a>
                                </li>
                            </ul>
                           
                        </div>
                        <div class="col-md-9">
                           <div class="container-fluid">
                               <div class="row ">
                                   <div class="col-md-4 p-3 ">
                                      <div class="card">
                                          <img class="card-img-top" height="120px" src="assets/slider-image/banner-2.jpg" alt="">
                                          <div class="card-body">
                                              <h5 class="card-title  " >CCNA Certification Training
                                                <p> <mat-icon>time</mat-icon>  40 Hours Online</p>
                                            </h5>
                                              <p class="card-text">Learn to configure and operate small to medium sized networks through routing and switching concepts. Validate your ability to install, configure, operate, and troubleshoot complex systems smoothly. Upgrade your skills in the ever-changing architecture of enterprise network technologies. Start today and become an expert throughout</p>
                                              <h3 class="float-right">₹ 10,000</h3>
                                             
                                              <a href="#" class="card-link">Card link</a>
                                              <a href="#" mat-raised-button color="warn" class="card-link">View Program</a>
                                          </div>
                                          <img class="card-img-bottom" src="" alt="">
                                      </div>
                                   </div>
                                   <div class="col-md-4 p-3 ">
                                    <div class="card">
                                        <img class="card-img-top" height="120px" src="assets/slider-image/banner-2.jpg" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title  " >CCNA Certification Training
                                              <p> <mat-icon>time</mat-icon>  40 Hours Online</p>
                                          </h5>
                                            <p class="card-text">Learn to configure and operate small to medium sized networks through routing and switching concepts. Validate your ability to install, configure, operate, and troubleshoot complex systems smoothly. Upgrade your skills in the ever-changing architecture of enterprise network technologies. Start today and become an expert throughout</p>
                                            <h3 class="float-right">₹ 10,000</h3>
                                           
                                            <a href="#" class="card-link">Card link</a>
                                            <a href="#" mat-raised-button color="warn" class="card-link">View Program</a>
                                        </div>
                                        <img class="card-img-bottom" src="" alt="">
                                    </div>
                                 </div>
                                 <div class="col-md-4 p-3 ">
                                    <div class="card">
                                        <img class="card-img-top" height="120px" src="assets/slider-image/banner-2.jpg" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title  " >CCNA Certification Training
                                              <p> <mat-icon>time</mat-icon>  40 Hours Online</p>
                                          </h5>
                                            <p class="card-text">Learn to configure and operate small to medium sized networks through routing and switching concepts. Validate your ability to install, configure, operate, and troubleshoot complex systems smoothly. Upgrade your skills in the ever-changing architecture of enterprise network technologies. Start today and become an expert throughout</p>
                                            <h3 class="float-right">₹ 10,000</h3>
                                           
                                            <a href="#" class="card-link">Card link</a>
                                            <a href="#" mat-raised-button color="warn" class="card-link">View Program</a>
                                        </div>
                                        <img class="card-img-bottom" src="" alt="">
                                    </div>
                                 </div>
                                    
                                 <div class="col-md-4 p-3 ">
                                    <div class="card">
                                        <img class="card-img-top" height="120px" src="assets/slider-image/banner-2.jpg" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title  " >CCNA Certification Training
                                              <p> <mat-icon>time</mat-icon>  40 Hours Online</p>
                                          </h5>
                                            <p class="card-text">Learn to configure and operate small to medium sized networks through routing and switching concepts. Validate your ability to install, configure, operate, and troubleshoot complex systems smoothly. Upgrade your skills in the ever-changing architecture of enterprise network technologies. Start today and become an expert throughout</p>
                                            <h3 class="float-right">₹ 10,000</h3>
                                           
                                            <a href="#" class="card-link">Card link</a>
                                            <a href="#" mat-raised-button color="warn" class="card-link">View Program</a>
                                        </div>
                                        <img class="card-img-bottom" src="" alt="">
                                    </div>
                                 </div>
                                 <div class="col-md-4 p-3 ">
                                    <div class="card">
                                        <img class="card-img-top" height="120px" src="assets/slider-image/banner-2.jpg" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title  " >CCNA Certification Training
                                              <p> <mat-icon>time</mat-icon>  40 Hours Online</p>
                                          </h5>
                                            <p class="card-text">Learn to configure and operate small to medium sized networks through routing and switching concepts. Validate your ability to install, configure, operate, and troubleshoot complex systems smoothly. Upgrade your skills in the ever-changing architecture of enterprise network technologies. Start today and become an expert throughout</p>
                                            <h3 class="float-right">₹ 10,000</h3>
                                           
                                            <a href="#" class="card-link">Card link</a>
                                            <a href="#" mat-raised-button color="warn" class="card-link">View Program</a>
                                        </div>
                                        <img class="card-img-bottom" src="" alt="">
                                    </div>
                                 </div>
                               </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>