<nav class="navbar navbar-expand-lg  " id="menuNav">
    <div class="container-fluid">
        <img src="assets/logo/final-logo.png" class="logo" alt="logo">
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Aboutus</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        onlineCourse
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="row dropdownRow">
                                <ul class="list-unstyled col-md-3">
                                    <h6 class="">IT & Software</h6>
                                    <ul class="list-group">
                                        <li class="list-group-item ">
                                            <h3>
                                                CLOUD COMPUTING TRAINING
                                                Learn online cloud computing
                                            </h3>
                                        </li>
                                            
                                            <a href="#">
                                                AWS Architect <small>TRENDING</small>
                                            </a>
                                        
                                            <a href="#">
                                                AZ 104 Azure
                                            </a>
                                     
                                    </ul>
                                    <br>
                                   <ul class="list-group">
                                       <li class="list-group-item "> 
                                           
                                        <h3 class="">
                                           RED HAT
                                        Learn online red hat
                                    </h3>
                                </li>
                                   
                                        <a href="#">
                                            RHCSA Certification Training <small>TRENDING</small>
                                        </a>
                                      <a href="#">
                                        RHCE Certification
                                      </a>
                                      <a href="#">
                                        Upgrade to RHCE on RHEL8
                                      </a>
                                      <a href="#">
                                        Ansible Certification
                                      </a>
                                      <a href="#">
                                        Red Hat Learning Subscription
                                      </a>
                                   </ul>
                                    <hr>
                                </ul>
                                <ul class="list-unstyled col-md-3">
                                    <h6 class="">Networking & Security</h6>
                                    <br>
                            
                                    <a href="#">
                                        CCNA Enterprise <small>TRENDING</small>
                                      </a><br>
                                    <a href="#">
                                        CCNA Enterprise
                                    </a><br> 
                                    <a href="#">
                                        CCNA Enterprise
                                    </a> <br>
                                    <a href="#">
                                        CCNA Enterprise
                                    </a><br>
                                    <a href="#">
                                        CCNP Security
                                    </a><br>
                                    <a href="#">
                                        CCNP Security
                                    </a><br>
                                    <a href="#">
                                        CCNP Security
                                    </a>
                                     
                                    <hr>
                                </ul>
                                <ul class="list-unstyled col-md-3">
                                    <h6 class="">Data & Development</h6>
                                    <a href="#">
                                        Data Science With Python <small>TRENDING</small>
                                    </a>
                                    <a href="#">
                                    Machine Learning With Python
                                    </a>
                                    <br>
                                    <br>
                                    <ul class="list-group">
                                        <li class="list-group-item ">
                                            <h3>
                                                DEVOPS <br>
                                                Learn online red hat devops
                                            </h3>
                                        </li>
                                        <!-- <li class="list-group-item disabled" aria-disabled="true">Disabled item</li> -->
                                    </ul>
                                    <br>
                                    <a href="#">DevOps Certification Training</a>
                                    <br>
                                    <br>
                                    <ul class="list-group">
                                        <li class="list-group-item ">
                                         <h3>
                                            PROGRAMMING <br>
                                            Learn online red hat programming
                                         </h3> </li>
                                        <!-- <li class="list-group-item disabled" aria-disabled="true">Disabled item</li> -->
                                    </ul>
                                    
                                      <br>
                                          <a href="#"> C & C++ Certification Course </a>
                                            <a href="#">   Python Certification TRENDING </a>
                                                <a href="#">   JAVA Certification Training </a>
                                    <hr>
                                </ul>
                                <ul class="list-unstyled col-md-3">
                                    <h6 class="">Web Technologies</h6>
                                    <br> <br>
                                     <a href="#">
                                        Django Certification Course</a>
                                        <br><br>
                                        <a href="#">
                                        User Interface Certification 
                                        </a>  <br><br>
                                        <a href="#">
                                        PHP Certification Training
                                        </a>  <br><br>
                                        <a href="#">
                                        Mean Stack Certification Training
                                     </a>
                                    <hr>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">contactus</a>
                </li>


            </ul>


        </div>
    </div>
</nav>