<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 bg-info">
            <h1>TRENDING COURSES</h1>
            <div class="">
               <a href="#"> CCNA Certification</a> <br>
                <a href="#"> Python Certification</a> <br>
                <a href="#"> Machine Learning With Python</a> <br>
                <a href="#"> RedHat Certification </a> <br>
                <a href="#"> DevOps Certification </a> <br>
                <a href="#"> AWS Certification </a> <br>
                <a href="#"> Data Science With Python </a> <br>
                <a href="#"> Digital Marketing </a> <br>
                <a href="#"> Django Certification </a> <br>
                <a href="#"> Azure Certification </a> <br>
                <a href="#">C& C++ Certification </a> <br>
                <a href="#">Office 365 Certification </a> <br>
            </div>
        </div>
    </div>
</div>