<div class="container">
    <div class="row mt-5">
        <div class="col-md-8">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h1>WE'RE IN GREAT IDEAS</h1>
                        <p >
                            Lorem ipsum dolor sit amet, ius minim gubergren ad. At mei sumo sonet audiam, ad mutat elitr platonem vix. Ne nisl idque fierent vix. Ferri clita ponderum ne duo, simul appellantur reprehendunt mea an. An gloriatur vulputate eos, an sed fuisset vituperatoribus, tation tritani prodesset ex sed. Impedit torquatos sed ad, vel ad placerat necessitatibus, in quo inani eligendi.
                           <br><br>
                            Cum copiosae pertinacia ei, admodum volumus cum ut, erat nonumy his te. Iudico praesent sed id, nam error consequat reprehendunt no. Nostrud nostrum tacimates mei ut, debet facilisi in ius, dolor accusam omittam eu sea. His harum verterem ocurreret ei.
                        </p>
                        <br><br>
                    </div>
                    <br>
                    <br>
                  <hr>
                  <br><br>
                    <div class="col-md-3  p-3 ">
                        <br>
                        <br>
                        
                    <samp>One</samp>

                    </div>
                    <div class="col-md-9 p-3">
                        <h1>Stage one - Autem possim his</h1>
                        <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.</p>
                    </div>
                    <div class="col-md-3  p-3 ">
                        <br>
                        <br>
                        
                    <samp>One</samp>

                    </div>
                    <div class="col-md-9 p-3">
                        <h1>Stage one - Autem possim his</h1>
                        <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.</p>
                     
                    </div>
                    <div class="col-md-3  p-3 ">
                        <br>
                        <br>
                        
                    <samp>One</samp>

                    </div>
                    <div class="col-md-9 p-3">
                        <h1>Stage one - Autem possim his</h1>
                        <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.</p>
                    </div>
                    <div class="col-md-3  p-3 ">
                        <br>
                        <br>
                        
                    <samp>One</samp>

                    </div>
                    <div class="col-md-9 p-3">
                        <h1>Stage one - Autem possim his</h1>
                        <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
                    <button style="padding: 10px 72px; background-color: black; color: white;" mat-raised-button >START LEARNING 119$
                    </button>
                    <br><br>
                    <mat-card>
                        <mat-card-title>LESSONS</mat-card-title><hr>
                        <mat-card-title>LESSONS</mat-card-title><hr>
                        <br><br>
                        <mat-card>
                        <mat-card-title>LESSONS</mat-card-title><hr>
                        <mat-dialog-actions>
                           
                            <h4>Marc Twain</h4>
                   
                            <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in.
                                <mat-card-title-group>
                                    <img matCardAvatar src="assets/slider-image/banner-11.jpg" alt="">
                                </mat-card-title-group>
                            </p>
                        </mat-dialog-actions>
                        <mat-dialog-actions>
                           
                            <h4>Marc Twain</h4>
                   
                            <p>Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in.
                                <mat-card-title-group>
                                    <img matCardAvatar src="assets/slider-image/banner-11.jpg" alt="">
                                </mat-card-title-group>
                            </p>
                        </mat-dialog-actions>
                        <hr>
                        <br><br>
                        <mat-card-title>RELATED CONTENT</mat-card-title><hr>
                        <mat-card-content>
                           <button mat-stroked-button color="accent"> Ceteros mediocritatem</button>
                           <button mat-stroked-button color="accent">  Labore nostrum</button>
                           <button mat-stroked-button color="accent">  Primis bonorum</button>
                           <button mat-stroked-button color="accent">  Ceteros mediocritatem</button>

                            
                        </mat-card-content>
                        </mat-card>
                    </mat-card>
        </div>
    </div>
</div>