<div class="container">
    <div class="row">
        <h1>Our Features</h1>
        <div class="col-md-4 p-3">
            <mat-card class="example-card">
               
                <img mat-card-image src="assets/feauter/access-to-LMS.jpg" alt="Photo of a Shiba Inu">
                <mat-card-title class="text-center p-2">Live Online Classes</mat-card-title>
                <mat-card-content class="p-2">
                  <p>
                    The classes can be attended to at any place and any time as per your choice Use our Android App to learn on the go
                  </p>
                </mat-card-content>
               
              </mat-card>
              
        </div>
        <div class="col-md-4 p-3">
            <mat-card class="example-card">
               
                <img mat-card-image src="assets/feauter/calendar.jpg" alt="Photo of a Shiba Inu">
                <mat-card-title class="text-center p-2">
                    Highest Course Completion rate</mat-card-title>
                <mat-card-content class="p-2">
                  <p>
                    The classes can be attended to at any place and any time as per your choice Use our Android App to learn on the go
                  </p>
                </mat-card-content>
               
              </mat-card>
              
        </div>
        <div class="col-md-4 p-3">
            <mat-card class="example-card">
               
                <img mat-card-image src="assets/feauter/course-compleetion.jpg" alt="Photo of a Shiba Inu">
                <mat-card-title class="text-center p-2">Lifetime Access to Learning Platform</mat-card-title>
                <mat-card-content class="p-2">
                  <p>
                    The classes can be attended to at any place and any time as per your choice Use our Android App to learn on the go
                  </p>
                </mat-card-content>
               
              </mat-card>
              
        </div>
        <div class="col-md-4 p-3">
            <mat-card class="example-card">
               
                <img mat-card-image src="assets/feauter/exp-trainers.jpg" alt="Photo of a Shiba Inu">
                <mat-card-title class="text-center p-2">Flexible Schedule</mat-card-title>
                <mat-card-content class="p-2">
                  <p>
                    The classes can be attended to at any place and any time as per your choice Use our Android App to learn on the go
                  </p>
                </mat-card-content>
               
              </mat-card>
              
        </div>
        <div class="col-md-4 p-3">
            <mat-card class="example-card">
               
                <img mat-card-image src="assets/feauter/live-class-tb.jpg" alt="Photo of a Shiba Inu">
                <mat-card-title class="text-center p-2">Exceptional Instructors</mat-card-title>
                <mat-card-content class="p-2">
                  <p>
                    The classes can be attended to at any place and any time as per your choice Use our Android App to learn on the go
                  </p>
                </mat-card-content>
               
              </mat-card>
              
        </div>
        <div class="col-md-4 p-3">
            <mat-card class="example-card">
               
                <img mat-card-image src="assets/feauter/real-life-projects.jpg" alt="Photo of a Shiba Inu">
                <mat-card-title class="text-center p-2">Real-life Projects</mat-card-title>
                <mat-card-content class="p-2">
                  <p>
                    The classes can be attended to at any place and any time as per your choice Use our Android App to learn on the go
                  </p>
                </mat-card-content>
               
              </mat-card>
              
        </div>
       
    </div>
</div>