<div class="container">
    <div class="row mt-5">
        
        <div class="col-md-8">
            <mat-card>
                 <mat-card-title >   We're in the business of hosting great ideas. </mat-card-title>
                 <br>
                <mat-card-content>  Lorem ipsum dolor sit amet, ius minim gubergren ad. At mei sumo sonet audiam, ad mutat elitr platonem vix. Ne nisl idque fierent vix. Ferri clita ponderum ne duo, simul appellantur reprehendunt mea an. An gloriatur vulputate eos, an sed fuisset vituperatoribus, tation tritani prodesset ex sed. Impedit torquatos sed ad, vel ad placerat necessitatibus, in quo inani eligendi.
                </mat-card-content>
                <mat-card-content>  Lorem ipsum dolor sit amet, ius minim gubergren ad. At mei sumo sonet audiam, ad mutat elitr platonem vix. Ne nisl idque fierent vix. Ferri clita ponderum ne duo, simul appellantur reprehendunt mea an. An gloriatur vulputate eos, an sed fuisset vituperatoribus, tation tritani prodesset ex sed. Impedit torquatos sed ad, vel ad placerat necessitatibus, in quo inani eligendi.
                </mat-card-content>
                <br>
                <mat-card-title>Why choose Learn?</mat-card-title>
                <br>
                <mat-card-subtitle>Service</mat-card-subtitle>
                <mat-card-content>
                    Cum copiosae pertinacia ei, admodum volumus cum ut, erat nonumy his te. Iudico praesent sed id, nam error consequat reprehendunt no. Nostrud nostrum tacimates mei ut, debet facilisi in ius, dolor accusam omittam eu sea. His harum verterem ocurreret ei.


                </mat-card-content>
                <br>
                <mat-card-title>
                    Expert Teachers
                </mat-card-title>
                <mat-card-content>
                    An per ancillae concludaturque, senserit rationibus referrentur ne pro, ius omnis complectitur ex. Per ut vocibus contentiones. Oporteat vituperata ut nec, an dicit accusamus definiebas est, ne vix mentitum luptatum. Duo in wisi justo aperiam. Reprimique consectetuer pro ea, civibus commune oportere pri id.
                </mat-card-content>
                <br>
                <mat-card-title>
                    Trusted Certification
                </mat-card-title>
                <mat-card-content>
                    Impedit epicurei intellegam an eos, id fierent consequat definitiones est. Ne his primis invenire. Ea fugit tantas noster vis, scripta ornatus voluptua quo an. Nusquam salutatus duo ei, semper maiorum eu mea.
                </mat-card-content>
            </mat-card>
        </div>
     
        <div class="col-md-4 ">
            <mat-card>
                <img mat-card-image height="210px" src="assets/feauter/exp-trainers.jpg">
                <mat-card-title class="mt-3 mb-3  text-center">Megan Fox MANAGER</mat-card-title>
            </mat-card>
            <br>
            <br>
            <br>
           
            <mat-card>
                <img mat-card-image height="210px"  src="assets/feauter/exp-trainers.jpg">
                <mat-card-title class="mt-3 mb-3   text-center">Megan Fox MANAGER  </mat-card-title>
            </mat-card>
           
           
        </div>
       
    </div>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 p-3">
            <mat-card>
                <img  mat-card-avatar mat-card-xl-image style="margin-left: 40px;" src="assets/feauter/live-class-tb.jpg" alt="">
                <br><br>
                <mat-card-title class="text-center m-2">
                    Patricia Doe Biologist
                </mat-card-title>
                <br>
                <mat-card-content class="m-2 ">
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
                </mat-card-content>
                <mat-card-actions class="text-center">
                    <samp>
                        <mat-icon>
                            facebook
                        </mat-icon>
                          <mat-icon>
                            instagram
                        </mat-icon>
                          <mat-icon>
                            linkedin
                        </mat-icon>
                          
                        
                    </samp>
                </mat-card-actions>
                <hr class="m-2">
                <br>
                <mat-card-footer class="text-center">
                    <button mat-raised-button color="primary">VIEW COUSRES</button>
                    <br>
                    <br>
                </mat-card-footer>
              
            </mat-card>
        </div>
        
        <div class="col-md-4 p-3">
            <mat-card>
                <img  mat-card-avatar mat-card-xl-image style="margin-left: 40px;" src="assets/feauter/live-class-tb.jpg" alt="">
                <br><br>
                <mat-card-title class="text-center m-2">
                    Patricia Doe Biologist
                </mat-card-title>
                <br>
                <mat-card-content class="m-2 ">
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
                </mat-card-content>
                <mat-card-actions class="text-center">
                    <samp>
                        <mat-icon>
                            facebook
                        </mat-icon>
                          <mat-icon>
                            instagram
                        </mat-icon>
                          <mat-icon>
                            linkedin
                        </mat-icon>
                          
                        
                    </samp>
                </mat-card-actions>
                <hr class="m-2">
                <br>
                <mat-card-footer class="text-center">
                    <button mat-raised-button color="primary">VIEW COUSRES</button>
                    <br>
                    <br>
                </mat-card-footer>
              
            </mat-card>
        </div>
        <div class="col-md-4 p-3">
            <mat-card>
                <img  mat-card-avatar mat-card-xl-image style="margin-left: 40px;" src="assets/feauter/live-class-tb.jpg" alt="">
                <br><br>
                <mat-card-title class="text-center m-2">
                    Patricia Doe Biologist
                </mat-card-title>
                <br>
                <mat-card-content class="m-2 ">
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
                </mat-card-content>
                <mat-card-actions class="text-center">
                    <samp>
                        <mat-icon>
                            facebook
                        </mat-icon>
                          <mat-icon>
                            instagram
                        </mat-icon>
                          <mat-icon>
                            linkedin
                        </mat-icon>
                          
                        
                    </samp>
                </mat-card-actions>
                <hr class="m-2">
                <br>
                <mat-card-footer class="text-center">
                    <button mat-raised-button color="primary">VIEW COUSRES</button>
                    <br>
                    <br>
                </mat-card-footer>
              
            </mat-card>
        </div>
        
    </div>
</div>
