<!-- 
  <mat-toolbar style="height: 15%;  padding: 3%;">
  
  <span style="margin-left: 5%; margin-top: 2%; ">
    <img src="assets/logo/final-logo.png" width="38%">
  </span>
  <span class="example-spacer"></span>

  <div class="menubar">
  <button mat-button >Home</button>
  <button mat-button >AboutUs</button>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu" style="width: 60%;">
  <ng-container>
   <mat-drawer-container>
     <h1>WEB TECHNOLOGY</h1>
     <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            This is the expansion title
          </mat-panel-title>
          <mat-panel-description>
            This is a summary of the content
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Self aware panel
          </mat-panel-title>
          <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>
    
   </mat-drawer-container>
  </ng-container>

</mat-menu>
  <button mat-button >Blog</button>
  <button mat-button >Contacts</button>
  </div>
 
</mat-toolbar> -->
<app-header></app-header>
<app-about></app-about>
<!-- <app-course-grid></app-course-grid> -->
<!-- <app-course-details-page></app-course-details-page> -->
<!-- <app-carousel></app-carousel>
<app-explore></app-explore>
<app-team></app-team>
<app-blogs></app-blogs>
<app-features></app-features>
<app-footer></app-footer> -->