<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-5">
            <h2>Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu. Vel an hinc putant fierent, saperet legimus offendit sed ei doctus volumus explicari qui ex, appareat similique an usu. Dolor euripidis cum eu, ea per lucilius periculis corrumpit, ut euismod omittam ancillae his.</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
       <div class="col-md-12">
           <div class="container-fluid">
               <div class="row">
                    <div class="col-md-3 p-4">
                        <div class="">
                            <img  width="130px" src="assets/course icon/number_1_small.png">
                        </div>
                    </div>
                    <div class="col-md-9 p-3 border-0">
                        <mat-card class="border-0">
                            <mat-card-subtitle>Stage One</mat-card-subtitle>
                            <mat-card-title>WELCOME AND INTRO</mat-card-title>
                            <br>
                            <mat-card-content>
                                Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu. Vel an hinc putant fierent, saperet legimus offendit sed ei doctus volumus explicari qui ex, appareat similique an usu. . Dolor euripidis cum eu, ea per lucilius periculis corrumpit, ut euismod omittam ancillae his.
                            </mat-card-content>
                        
                        
                            <button mat-raised-button color="warn">SCHEDULE</button>
                        </mat-card>
                    </div>
                    
               </div>
           </div>
       </div>
       <div class="col-md-12">
        <div class="container-fluid">
            <div class="row">
                 <div class="col-md-3">
                     <div class="">
                         <img  width="130px" src="assets/course icon/number_1_small.png">
                     </div>
                 </div>
                 <div class="col-md-9 p-3 border-0">
                     <mat-card class="border-0">
                         <mat-card-subtitle>Stage One</mat-card-subtitle>
                         <mat-card-title>WELCOME AND INTRO</mat-card-title>
                         <br>
                         <mat-card-content>
                             Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu. Vel an hinc putant fierent, saperet legimus offendit sed ei doctus volumus explicari qui ex, appareat similique an usu. . Dolor euripidis cum eu, ea per lucilius periculis corrumpit, ut euismod omittam ancillae his.
                         </mat-card-content>
                     
                     
                         <button mat-raised-button color="warn">SCHEDULE</button>
                     </mat-card>
                 </div>
                 
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="container-fluid">
            <div class="row">
                 <div class="col-md-3">
                     <div class="">
                         <img  width="130px" src="assets/course icon/number_1_small.png">
                     </div>
                 </div>
                 <div class="col-md-9 p-3 border-0">
                     <mat-card class="border-0">
                         <mat-card-subtitle>Stage One</mat-card-subtitle>
                         <mat-card-title>WELCOME AND INTRO</mat-card-title>
                         <br>
                         <mat-card-content>
                             Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu. Vel an hinc putant fierent, saperet legimus offendit sed ei doctus volumus explicari qui ex, appareat similique an usu. . Dolor euripidis cum eu, ea per lucilius periculis corrumpit, ut euismod omittam ancillae his.
                         </mat-card-content>
                     
                     
                         <button mat-raised-button color="warn">SCHEDULE</button>
                     </mat-card>
                 </div>
                 
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="container-fluid">
            <div class="row">
                 <div class="col-md-3">
                     <div class="">
                         <img  width="130px" src="assets/course icon/number_1_small.png">
                     </div>
                 </div>
                 <div class="col-md-9 p-3 border-0">
                     <mat-card class="border-0">
                         <mat-card-subtitle>Stage One</mat-card-subtitle>
                         <mat-card-title>WELCOME AND INTRO</mat-card-title>
                         <br>
                         <mat-card-content>
                             Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu. Vel an hinc putant fierent, saperet legimus offendit sed ei doctus volumus explicari qui ex, appareat similique an usu. . Dolor euripidis cum eu, ea per lucilius periculis corrumpit, ut euismod omittam ancillae his.
                         </mat-card-content>
                     
                     
                         <button mat-raised-button color="warn">SCHEDULE</button>
                     </mat-card>
                 </div>
                 
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="container-fluid">
            <div class="row">
                 <div class="col-md-3">
                     <div class="">
                         <img  width="130px" src="assets/course icon/number_1_small.png">
                     </div>
                 </div>
                 <div class="col-md-9 p-3 border-0">
                     <mat-card class="border-0">
                         <mat-card-subtitle>Stage One</mat-card-subtitle>
                         <mat-card-title>WELCOME AND INTRO</mat-card-title>
                         <br>
                         <mat-card-content>
                             Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu. Vel an hinc putant fierent, saperet legimus offendit sed ei doctus volumus explicari qui ex, appareat similique an usu. . Dolor euripidis cum eu, ea per lucilius periculis corrumpit, ut euismod omittam ancillae his.
                         </mat-card-content>
                     
                     
                         <button mat-raised-button color="warn">SCHEDULE</button>
                     </mat-card>
                 </div>
                 
            </div>
        </div>
    </div>
     </div>
</div>
<br>
<br>
<hr>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4 p-3">
          <mat-card-subtitle>
            No sit debitis meliore postulant, per ex prompta alterum sanctus?
          </mat-card-subtitle>
          <mat-card-content>
            Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.
          </mat-card-content>
        </div>
        <div class="col-md-4 p-3">
            <mat-card-subtitle>
              No sit debitis meliore postulant, per ex prompta alterum sanctus?
            </mat-card-subtitle>
            <mat-card-content>
              Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.
            </mat-card-content>
          </div>
          <div class="col-md-4 p-3">
            <mat-card-subtitle>
              No sit debitis meliore postulant, per ex prompta alterum sanctus?
            </mat-card-subtitle>
            <mat-card-content>
              Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.
            </mat-card-content>
          </div>
    </div>
</div>
<div class="container-fluid bg-dark">
    <div class="row m-5">
        <div class="col-md-4 mx-auto m-5">
          <button mat-raised-button color="warn"  class="p-3 m-3">START LEARNING</button>
        </div>
    </div>
</div>
