<div class="container">
    <div class="row">
        <h1 class="m-5">Our Team
        </h1>
        <div class="col-md-3 p-4">
            <mat-card class="example-card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content class="text-center">
                  <h1>Name</h1>
                  <p>Software Developer</p>
                </mat-card-content>
              </mat-card>
        </div>
        <div class="col-md-3 p-4">
            <mat-card class="example-card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content class="text-center">
                  <h1>Name</h1>
                  <p>Software Developer</p>
                </mat-card-content>
              </mat-card>
        </div>
        <div class="col-md-3 p-4">
            <mat-card class="example-card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content class="text-center">
                  <h1>Name</h1>
                  <p>Software Developer</p>
                </mat-card-content>
              </mat-card>
        </div>
        <div class="col-md-3 p-4">
            <mat-card class="example-card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content class="text-center">
                  <h1>Name</h1>
                  <p>Software Developer</p>
                </mat-card-content>
              </mat-card>
        </div>
        <div class="col-md-3 p-4">
            <mat-card class="example-card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content class="text-center">
                  <h1>Name</h1>
                  <p>Software Developer</p>
                </mat-card-content>
              </mat-card>
        </div>
        <div class="col-md-3 p-4">
            <mat-card class="example-card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content class="text-center">
                  <h1>Name</h1>
                  <p>Software Developer</p>
                </mat-card-content>
              </mat-card>
        </div>
        <div class="col-md-3 p-4">
            <mat-card class="example-card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content class="text-center">
                  <h1>Name</h1>
                  <p>Software Developer</p>
                </mat-card-content>
              </mat-card>
        </div>
        <div class="col-md-3 p-4">
            <mat-card class="example-card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content class="text-center">
                  <h1>Name</h1>
                  <p>Software Developer</p>
                </mat-card-content>
              </mat-card>
        </div>
    </div>
</div>